{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "overrides": [
    {
      "files": "*.yml",
      "options": {
        "useTabs": false,
        "tabWidth": 4
      }
    },
    {
      "files": ["*.json", ".babelrc"],
      "options": {
        "parser": "json-stringify"
      }
    },
    {
      "files": ["*.jsonc", "tsconfig*.json"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["*.js", "*.cjs", "*.mjs"],
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": ["*.ts"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.html", "*.hbs"],
      "options": {
        "printWidth": 140,
        "singleQuote": false
      }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
