# Add files here to ignore them from prettier formatting
# IDE/Editor
.vscode
.idea

# Package Manager
package.json
package-lock.json
yarn.lock

# Project-related
/dist
/coverage
**/assets/**/*
.docker
init.d
