{
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.yml",
      "options": {
        "useTabs": false,
        "tabWidth": 4
      }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.hbs",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
